body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
  color: #111;}
.contact-section {
  padding: 60px 0;
  text-align: center;}
.title {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 600;}
.subtitle {
  color: #666;
  margin-top: 4px;
  margin-bottom: 40px;
  font-style: italic;}
.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: flex-start;}
/* FORM */
.form {
  width: 360px;
}

.row {
  display: flex;
  gap: 10px;
}

input {
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 15px;
  outline: none;
  width: 100%;
}

.full {
  width: 100%;
  margin-top: 12px;
}

.btn {
  margin-top: 16px;
  padding: 12px 26px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
}
.btn:hover {
  opacity: 0.8;
}
/* Responsive */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .form {
    width: 100%;
    max-width: 380px;
  }
}
